<div class="rules">
    <h1 class="mat-display-1"
        i18n>How to play</h1>

    <p i18n>
        Connect 4 is a two player game where they play coins in turn in a 6 by 7 grid until victory
        or filling the grid.
    </p>

    <h2 i18n>Goal</h2>
    <p i18n>
        The goal of the game is to connect 4 coins of your color in any direction. If the grid is
        full, the game is a draw.
    </p>

    <h2 i18n>Setup</h2>
    <p i18n>
        The two players choose a color. One of them is choosed to start the game.
    </p>

    <h2 i18n>Playing</h2>
    <p i18n>
        Coins "fall" in the column they're played in. In other words, the grid is fill from the
        bottom row up. Players play 1 coin during their turn and then wait for the other player to
        play. Any player can play in any column.
    </p>
</div>