<div class="player-setup">
    <div *ngIf="!(firstPlayer$ | async)">

        <h2 class="player-setup__title mat-display-1">
            Enter players name
        </h2>

        <!-- Player 1 -->
        <mat-form-field appearance="standard">
            <mat-label>Player 1</mat-label>
            <input matInput
                   class="player-setup__player-name-input"
                   name="player1Name"
                   [(ngModel)]="player1Name">
            <app-coin matSuffix
                      class="player-setup__player-name-input__suffix"
                      color="player-1"></app-coin>

        </mat-form-field>

        <!-- Player 2 -->
        <mat-form-field appearance="standard">
            <mat-label>Player 2</mat-label>
            <input matInput
                   class="player-setup__player-name-input"
                   name="player2Name"
                   [color]="primary"
                   [(ngModel)]="player2Name">
            <app-coin matSuffix
                      class="player-setup__player-name-input__suffix"
                      color="player-2"></app-coin>
        </mat-form-field>
        <mat-checkbox [(ngModel)]="isPlayingAgainstAi"
                      name="player2Ai">Player 2 is computer</mat-checkbox>

        <!-- Start button -->
        <div>
            <button mat-flat-button
                    class="player-setup__finish-button"
                    color="primary"
                    (click)="onStartGame()">
                Start Game
            </button>
        </div>
    </div>

    <!-- Game starting announcement -->
    <div *ngIf="firstPlayer$ | async"
         class="player-setup__announcement">

        <!-- Spinning coin -->
        <ng-container *ngIf="!isAnnouncementReady">

            <app-coin
                      class="player-setup__announcement__coin player-setup__announcement__coin--spinning">
            </app-coin>

        </ng-container>

        <!-- Starting player announcement -->
        <ng-container *ngIf="isAnnouncementReady">

            <app-coin [color]="(firstPlayer$ | async).color"
                      class="player-setup__announcement__coin">
            </app-coin>

            <div class="player-setup__announcement__message mat-display-1">
                {{(firstPlayer$ | async).name}} starts!
            </div>

        </ng-container>
    </div>
</div>