@import "../../../variables";

.player-setup {
  .mat-form-field {
    width: 100%;
  }

  &__player-name-input {
    &__color1 {
      color: $colorPlayer1;
    }

    &__color2 {
      color: $colorPlayer2;
    }

    &__suffix {
      height: 1.5rem;
      display: flex;
    }
  }

  &__finish-button {
    margin-top: 3rem;
    width: 100%;
  }

  &__announcement {
    text-align: center;
  }
}
