<div class="grid">

    <!-- Cells -->
    <div class="grid__row"
         *ngFor="let iRow of rows">

        <app-cell *ngFor="let iCol of cols"
                  [row]="iRow"
                  [col]="iCol"
                  [class]="'grid__row__cell ' + (hoveredCol === iCol ? 'grid__row__cell--hover' : '')"
                  [isVeiled]="isVeiled"
                  (mouseover)="setHoverCol(iCol)"
                  (mouseout)="clearHoverCol()">
        </app-cell>

    </div>

    <!-- Outline -->
    <svg version="1.1"
         [class]="'grid__outline ' + (isVeiled ? 'grid__outline--hidden' : '')"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         x="0px"
         y="0px"
         viewBox="0 0 280 240"
         style="enable-background:new 0 0 280 240;"
         xml:space="preserve">

        <rect x="0"
              y="0"
              width="280"
              height="240"
              stroke="currentColor"
              fill="transparent" />

    </svg>

</div>