<div class="game">
    <!-- Player setup -->
    <app-player-setup *ngIf="!(isGameStarted$ | async)"></app-player-setup>

    <!-- Game view -->
    <div *ngIf="isGameStarted$ | async"
         class="game__playing">

        <!-- Game status -->
        <header class="game__playing__header">
            <app-timer [isRunning]="isGridUnveiled && !(isGameOver$ | async)"
                       [offset]="timerOffset"></app-timer>

            <div class="game__playing__status">

                <!-- Next player -->
                <span *ngIf="!(isGameOver$ | async)">
                    <app-coin class="game__playing__status__coin"
                              [color]="(activePlayer$ | async)?.color"></app-coin>
                    {{(activePlayer$ | async)?.name}}
                    <span i18n>is playing</span>
                </span>

                <!-- Game is over -->
                <span *ngIf="isGameOver$ | async"
                      class="mat-display-1">
                    <span *ngIf="winner$ | async">
                        {{(winner$ | async).name}} <span i18n>won!</span>
                    </span>
                    <span *ngIf="!(winner$ | async)"
                          i18n>
                        Draw!
                    </span>
                </span>
            </div>
        </header>

        <!-- Game grid -->
        <app-grid class="game__playing__grid"
                  [isVeiled]="isGridVeiled"></app-grid>

        <!-- Home button -->
        <a *ngIf="isGameOver$ | async"
           mat-flat-button
           color="primary"
           class="game__playing__exit-button"
           routerLink="/"
           (click)="onExitGame()"
           i18n>
            Home
        </a>
    </div>

    <!-- Box glow -->
    <div *ngIf="isGridUnveiled"
         [class]="'game__glow game__glow--' +  (activePlayer$ | async)?.color"></div>
</div>