<div class="game">
    <!-- Game settings -->
    <div *ngIf="!(isGameStarted$ | async)">

        <!-- Player setup -->
        <div *ngIf="!(firstPlayer$ | async)"
             class="game__settings">


            <!-- Player 1 -->
            <mat-form-field appearance="standard">
                <mat-label>Player 1</mat-label>
                <input matInput
                       class="game__settings__player-name-input"
                       name="player1Name"
                       [(ngModel)]="player1Name">
                <mat-icon matSuffix
                          class="game__settings__player-name-input__color1">stop_circle</mat-icon>

            </mat-form-field>

            <!-- Player 2 -->
            <mat-form-field appearance="standard">
                <mat-label>Player 2</mat-label>
                <input matInput
                       class="game__settings__player-name-input"
                       name="player2Name"
                       [(ngModel)]="player2Name">
                <mat-icon matSuffix
                          class="game__settings__player-name-input__color2">stop_circle</mat-icon>
            </mat-form-field>

            <!-- Start button -->
            <div>
                <button mat-flat-button
                        class="game__settings__start"
                        color="primary"
                        (click)="onStartGame()">
                    Start
                </button>
            </div>
        </div>

        <!-- Starting player announcement -->
        <div *ngIf="firstPlayer$ | async"
             class="game__announcement">

            <div class="game__announcement__first-player mat-display-3">
                {{(firstPlayer$ | async).name}}
            </div>
            <div class="game__announcement__message mat-display-1">
                will start!
            </div>
        </div>
    </div>

    <!-- Game view -->
    <div *ngIf="isGameStarted$ | async"
         class="game__playing">
        <header class="game__playing__header">
            <app-timer [isRunning]="!(isGameOver$ | async)"></app-timer>

            <div class="game__playing__status">
                <span *ngIf="!(isGameOver$ | async)">
                    {{(activePlayer$ | async)?.name}}'s turn
                </span>
                <span *ngIf="isGameOver$ | async">
                    <span *ngIf="winner$ | async">
                        {{(winner$ | async).name}} won!
                    </span>
                    <span *ngIf="!(winner$ | async)">
                        Draw!
                    </span>
                </span>
            </div>
        </header>

        <app-grid class="game__playing__grid"></app-grid>

        <a *ngIf="isGameOver$ | async"
           mat-flat-button
           color="primary"
           class="game__playing__exit"
           routerLink="/"
           (click)="onExitGame()">
            Home
        </a>
    </div>
</div>