@import "../../../variables";

.coin {
  z-index: 1000;
  display: flex;

  &::selection {
    background-color: transparent;
  }

  &--player-1 {
    color: $colorPlayer1;
  }

  &--player-2 {
    color: $colorPlayer2;
  }
}
