.app {
  &__toolbar {
    &--transparent {
      background-color: transparent;
    }
  }

  &__content {
    height: calc(100vh - 56px);
    position: relative;
    width: 80vw;
    max-width: 80vh;
    margin: auto;

    @media screen and (min-width: 600px) {
      height: calc(100vh - 64px);
    }
  }
}
