<!-- App toolbar -->
<mat-toolbar color="primary"
             [class]="'app__toolbar ' + ((isHome$ | async) ? 'app__toolbar--transparent' : '')">

    <!-- Menu toggle -->
    <button mat-icon-button
            [class]="'app__toolbar__menu-toggle ' + ((isHome$ | async) ? 'app__toolbar__menu-toggle--inverted' : '')"
            (click)="snav.open()">
        <mat-icon>menu</mat-icon>
    </button>

    <!-- App title -->
    <div class="app__toolbar__title"
         *ngIf="!(isHome$ | async)"
         routerLink="/">
        ng<sup>4</sup>
    </div>

</mat-toolbar>

<mat-sidenav-container>

    <!-- Side navigation -->
    <mat-sidenav #snav
                 class="app__sidenav"
                 mode="over"
                 (click)="snav.close()"
                 fixedInViewport>
        <mat-nav-list>
            <div class="app__sidenav__logo">
                ng<sup>4</sup>
            </div>

            <a mat-list-item
               routerLink="/"
               i18n>Home</a>

            <a mat-list-item
               routerLink="/how-to-play"
               i18n>How to play</a>

            <a mat-list-item
               *ngIf="(isGameStarted$ | async)"
               (click)="abandonGame()"
               routerLink="/"
               i18n>Abandon game</a>

            <mat-divider></mat-divider>

            <a mat-list-item
               (click)="setTheme(otherTheme)"
               i18n>{{otherTheme | titlecase}} mode</a>

            <a mat-list-item
               i18n>Close</a>
        </mat-nav-list>

        <div class="app__sidenav__lang-menu">
            <a [href]="appDomainUrl"
               mat-button>En</a>
            <a [href]="appDomainUrl + '/fr'"
               mat-button>Fr</a>
        </div>

    </mat-sidenav>


    <!-- Page content -->
    <mat-sidenav-content class="app__content">

        <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>