@import "./themes";

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

.mat-button-base {
  text-align: center;
  font-size: 1.6rem;
  padding-top: 0.6rem !important;
  padding-bottom: 0.6rem !important;
}

.mat-drawer-backdrop {
  position: fixed !important;
}

// disable ripples for icon buttons
.mat-icon-button {
  .mat-button-focus-overlay {
    display: none;
  }
}
