@import "../../../variables";

.cell {
  height: 0;
  padding-bottom: 100%;
  border: 1px solid #000;
  cursor: pointer;
  position: relative;

  &__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 4px;
    opacity: 1;

    &__coin {
      margin-top: 0;
      transition: margin-top 0.2s ease-in;
    }

    &--hidden {
      opacity: 0;
    }
  }

  &--highlighted {
    background-color: #00f;
  }
}
