<div [class]="'cell ' + ((isDimmed$ | async) ? 'cell--dimmed ' : ' ') + ((isHighlighted$ | async) ? 'cell--highlighted' : '')"
     (click)="playCoin()">

    <!-- Content -->
    <div [class]="'cell__content ' + (!(cellContent$ | async) ? 'cell__content--hidden' : '')">

        <app-coin class="cell__content__coin "
                  [color]="(cellContent$ | async)"
                  [style.marginTop]="(cellContent$ | async) ? '' : -130 * fallHeight + '%'">
        </app-coin>

    </div>

    <!-- Outline -->
    <svg version="1.1"
         [class]="'cell__outline ' + (isVeiled ? 'cell__outline--hidden' : '')"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         x="0px"
         y="0px"
         viewBox="0 0 100 100"
         style="enable-background:new 0 0 100 100;"
         xml:space="preserve">

        <circle cx="50"
                cy="50"
                r="49"
                stroke="currentColor"
                fill="transparent" />

    </svg>
</div>