@import "../../../variables";

.cell {
  height: 0;
  padding-bottom: 100%;
  border: 1px solid #000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: transparent;

  &--highlighted {
    background-color: #00f;
  }

  &__coin {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: margin-top 0.2s ease-in;
    z-index: 1000;

    &::selection {
      background-color: transparent;
    }

    &--p1 {
      color: $colorPlayer1;
    }

    &--p2 {
      color: $colorPlayer2;
    }
  }
}
